<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title> Login Page </title>
		<script type='text/javascript' src='/js/scripts.js'></script>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div class='logContenitor centerFlex'>
			<form class='centerFlex' action='/register' method='post'>
				<h2>Create a new account</h2>
				<input class='input' type='email' placeholder='Email' name='email' required />
				<input class='input' type='text' placeholder='Username' name='username' required />
				<input class='input' type='password' placeholder='Password' name='password' required />
				<button class='input button' type='submit'>Sign Up</button>

				<a href='/login'>Already have an account?</a>

			</form>
		</div>
	</body>
</html>